/* 
:root {
    --pink: #ff93df;
    --sonar-size: 20px;
  }
  
  @keyframes sonar {
    from {
      box-shadow: 0 0 0 0 rgba(var(--pink), 1), 0 0 4px 2px rgba(#000, .4);
    }
    to {
      box-shadow: 0 0 0 10px rgba(var(--pink), 0), 0 0 4px 2px rgba(#000, .4);
    }
  }
  
  .sonar {
    width: var(--sonar-size);
    height: var(--sonar-size);
    border-radius: 50%;
    background-color: var(--pink);
    border: 2px solid darken(var(--pink), 10%);
    animation: sonar 800ms ease-out infinite;
  }

  .wrapper {
    width: calc(5 * (60px + 20px * 2));
    margin: 20px auto;
    }

    
    .item {
    display: table;
    float: left;
    width: 60px;
    height: 60px;
    border: 2px solid #dadada;
    margin: 20px;
    }
    
    .item:nth-of-type(even) {
    background-color: #eee;
    }
    
    .item-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    }
    
    .item-inner > a {
    text-decoration: none;
    display: inline-block;
    }
  
 */

 body {
  font-family: 
    -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 
    "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

.map {
  position: relative;
  max-width: 200px;
  margin: auto;
  background-color: #ccc;
}
.map img {
  display: block;
  width: 100%;
}

.map-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  width: 60%;
  padding: 2rem;
  background-color: #fff;
  transition: all 300ms ease-in;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 24px rgba(0,0,0,0.22);
  opacity: 0;
  visibility: hidden;
}

.map-popup > *:first-child { margin-top: 0; }
.map-popup > *:last-child { margin-bottom: 0; }

.map-popup.open {
  opacity: 1;
  visibility: visible;
}

.marker {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 36px;
  height: 36px;
  color: #fff;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: tomato;
  transition: all 300ms;
}

.marker1 {
  top: 30%;
  left: 20%;
}
.marker2 {
  top: 50%;
  left: 64%;
}

@media only screen and (min-width:48em) {
  .map-item {
    position: absolute;
    width: 36px;
    height: 36px;
    }
  .map-item .marker {
    top: auto;
    left: auto;
  }
  
  .map-item1 {
    top: 30%;
    left: 20%;
  }
  .map-item2 {
    top: 50%;
    left: 64%;
  }
  
  .map-popup {
    position: absolute;
    left: 58px;
    width: 280px;
    transform: translateY(-50%);
  }
  .map-popup:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    margin-top: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #fff transparent transparent;
  }
  
  .map-popup.edge {
    left: auto;
    right: calc(100% + 24px);
  }
  .map-popup.edge:before {
    left: auto;
    right: -16px;
    border-width: 16px 0 16px 16px;
    border-color: transparent transparent transparent #fff;
  }
}
  .map-item .marker {
    top: auto;
    left: auto;
  }
    
  .map-item1 {
    top: 30%;
    left: 20%;
  }
  .map-item2 {
    top: 50%;
    left: 64%;
  }
  
  .map-popup {
    position: absolute;
    left: 58px;
    width: 280px;
    transform: translateY(-50%);
  }
  .map-popup:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    margin-top: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #fff transparent transparent;
  }
  
  .map-popup.edge {
    left: auto;
    right: calc(100% + 24px);
  }
  .map-popup.edge:before {
    left: auto;
    right: -16px;
    border-width: 16px 0 16px 16px;
    border-color: transparent transparent transparent #fff;
  }
  